# http://editorconfig.org
root = true

[*.js]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 140
trim_trailing_whitespace = true
quote_type = double

[Makefile]
indent_style = tab
trim_trailing_whitespace = true
