app = ""
primary_region = ""
kill_signal = "SIGINT"
kill_timeout = "5s"

[experimental]
  auto_rollback = true
  enable_consul = true

[build]

[mounts]
source = 'query_machine'
destination = '/mnt/'
initial_size = 1

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = "suspend"
auto_start_machines = true
min_machines_running = 2

[http_service.concurrency]
soft_limit = 100
type = "requests"

[[http_service.checks]]
grace_period = "5s"
interval = "10s"
method = "GET"
path = "/healthcheck"
protocol = "http"
timeout = "2s"
tls_skip_verify = false

[[http_service.checks]]
grace_period = "10s"
interval = "30s"
method = "GET"
path = "/litefs/health"
timeout = "5s"

[[vm]]
size = 'shared-cpu-1x'

