@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar-color-secondary) var(--scrollbar-color-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-color-primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color-secondary);
    border-radius: 14px;
    border: 3px solid var(--scrollbar-color-primary);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Webfonts */

@font-face {
    font-family: "Cal Sans";
    font-style: normal;
    font-display: block;
    font-weight: 800;
    src:
        url("/_/asset/public/webfonts/cache/CalSans-SemiBold.woff2") format("woff2"),
        url("/_/asset/public/webfonts/cache/CalSans-SemiBold.woff") format("woff"),
        url("/_/asset/public/webfonts/cache/CalSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Red Hat Text";
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url("/_/asset/public/webfonts/cache/RedHatText-Regular.ttf") format("truetype");
}

body {
    font-family: "Red Hat Text", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-cal {
    letter-spacing: 0.025em;
    font-family: "Cal Sans", sans-serif;
}

pre {
    visibility: hidden;
}

pre.shiki {
    visibility: visible;
}

#menu-toggle:checked ~ nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* https://github.com/antfu/markdown-it-github-alerts/blob/main/styles/github-base.css */

:root {
  --color-note: #0969da;
  --color-tip: #1a7f37;
  --color-warning: #9a6700;
  --color-severe: #bc4c00;
  --color-caution: #d1242f;
  --color-important: #8250df;
}

.dark {
  --color-note: #2f81f7;
  --color-tip: #3fb950;
  --color-warning: #d29922;
  --color-severe: #db6d28;
  --color-caution: #f85149;
  --color-important: #a371f7;
}

.markdown-alert > * {
  padding: 0.5rem 1rem;
  margin-bottom: 16px;
  color: inherit;
  border-left: .25em solid #888;
}

.markdown-alert p {
    font-style: normal;
    margin: 0;
}

.markdown-alert p::before {
    content: none;
}

.markdown-alert h3 {
    font-style: normal;
    margin: 0 0 1rem;
}

.markdown-alert>:first-child {
  margin-top: 0
}

.markdown-alert>:last-child {
  margin-bottom: 0
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1
}

.markdown-alert .markdown-alert-title .octicon {
  margin-right: 0.5rem;
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-alert .markdown-alert-note {
  border-left-color: var(--color-note);
}

.markdown-alert .markdown-alert-note .markdown-alert-title {
  color: var(--color-note);
}

.markdown-alert .markdown-alert-important {
  border-left-color: var(--color-important);
}

.markdown-alert .markdown-alert-important .markdown-alert-title {
  color: var(--color-important);
}

.markdown-alert .markdown-alert-warning {
  border-left-color: var(--color-warning);
}

.markdown-alert .markdown-alert-warning .markdown-alert-title {
  color: var(--color-warning);
}

.markdown-alert .markdown-alert-tip {
  border-left-color: var(--color-tip);
}

.markdown-alert .markdown-alert-tip .markdown-alert-title {
  color: var(--color-tip);
}

.markdown-alert .markdown-alert-caution {
  border-left-color: var(--color-caution);
}

.markdown-alert .markdown-alert-caution .markdown-alert-title {
  color: var(--color-caution);
}