@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --scrollbar-color-primary: rgb(241 245 249);
        /* bg-slate-600 */
        --scrollbar-color-secondary: rgb(203 213 225);
        /* bg-slate-900 */
    }
}

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar-color-secondary) var(--scrollbar-color-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-color-primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color-secondary);
    border-radius: 14px;
    border: 3px solid var(--scrollbar-color-primary);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Webfonts */

@font-face {
    font-family: "Cal Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url("/_/asset/public/webfonts/cache/CalSans-SemiBold.woff2") format("woff2"),
        url("/_/asset/public/webfonts/cache/CalSans-SemiBold.woff") format("woff"),
        url("/_/asset/public/webfonts/cache/CalSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Red Hat Text";
    font-style: normal;
    font-display: optional;
    font-weight: 400;
    src: url("/_/asset/public/webfonts/cache/RedHatText-Regular.ttf") format("truetype");
}

body {
    font-family: "Red Hat Text", sans-serif;
}

/* Utils */

.word-spacing {
    word-spacing: 0.25rem;
}

/* Post */

#post h2,
#post h3 {
    font-family: "Cal Sans", sans-serif;
    font-weight: 600;
}

#post h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

#post h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#post ul {
    list-style: disc;
    margin-left: 1.5rem;
    padding-inline-start: 2.5rem;
}

#post section {
    @apply space-y-4;
}
